playwright        ==  1.58.0    # The Playwright library for browser automation.
pytest-playwright ==  0.7.2     # Pytest plugin for Playwright, enabling easy integration of Playwright tests with pytest.